img {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#searchbar {
	display:block;
	width:440px;
	height:40px;
	color:grey;
	text-align:right;
	font-size:18px;
	font-weight:bold;
	font-family:arial, sans-serif;
	margin:auto;
}

.searchbutton {
	display:inline-block;
	height:40px;
	background-color:#f2f2f2;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 20px 10px 0 10px;
	padding: 0 16px;
	text-align:center;
	border-radius: 2px;
	border: 1px solid #f2f2f2;
	color: #757575;
	float:center;
}

.centerwrap {
	float:center;
	margin:auto;
	width:50%;
}